
PORT=3001

DB_HOST=10.0.1.221

DB_PORT=3306

DB_USER=connectortech

DB_PASS=<DB_PASSWORD>

DB_NAME=jfwsysrt_ownerhealth

JWT_SECRET=<JWT_SECRET>

SMTP_HOST=smtp.gmail.com

SMTP_PORT=587

SMTP_USER=<SMTP_USER>

SMTP_PASS=<SMTP_APP_PASSWORD>

SMTP_FROM=<SMTP_FROM>

